/* Game Library Design */
body {
    background-color: #0F000F;
    color:#FF9E00;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    background-color: #5A189A;
    width: 100%;    
    height: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: #FF9E00;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-title {
    font-size: 3rem;
    font-weight: bold;
    padding: 0rem 1rem;
}

.navbar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 1;
}

.nav-link:hover {
    color: #FFDE00;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.login-link {
    background-color: #7B2CBF;
    color: #FF9E00;
    margin: .25rem;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .3s ease;
    display: flex;
    justify-content: center;
    width: 3rem;
}

.login-link:hover {
    background-color: #3C096C;
}

.header-search {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0rem;
}

.search-input {
    padding: .5rem;
    width: 16rem;
    border-radius: .5rem 0rem 0rem .5rem;
    border: none;
    background-color: #3C096C;
    color: #FF9E00;
}

.search-input::placeholder {
    color: #FF9E00;
}

.search-btn {
    padding: .43rem .75rem;
    border: none;
    background-color: #7B2CBF;
    color: #FF9E00;
    cursor: pointer;
    border-radius: 0rem .5rem .5rem 0rem;
}

.search-btn:hover {
    color: #FFDE00;
}

/* Error */
.error-container {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

/* GameCard */
.card-top {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    margin: 1rem;
}

.card-top button {
    text-decoration: none;
    background-color:#5A189A; 
    color:#FF9E00;
    font-size: 1.5rem;
    border-radius: 0rem .5rem 0rem 0rem;
    height: 3rem;
}

.game-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5rem;
    background-color: #5A189A;
}

.game-details, .game-info {
    padding: .125rem .5rem;
}

.game-card img {
    width: 100%;
    object-fit: cover;;
}

.game-details {
    font-weight: bold;
    background-color: #3C096C;

}

/* Grid */
.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    padding: 1rem;
}